body {
	margin: 0;
	background-color: #202222;
	color: #c8cbce;
	font-family: 'DejaVu Serif', 'Cambria', serif;
	font-size: 17px;
	line-height: 1.5;
}

#container {
	padding: 1em 10px;
	max-width: 1000px;
	margin: 0 auto;
	/*border-left: #333 5px solid;*/
}

a, a:hover, a:visited, a:active, a:link { color: #85a0ba; }

/* Header */

#header {
	width: 100%;
	margin: 0;
}

#header h1 {
	width: fit-content;
	color: #4b575e;
	margin: 0;
}

#header h1 a, #header h1 a:visited, #header h1 a:active {
	color: #4b575e;
	text-decoration: none;
}

#header h1 a:hover {
	color: #4b575e;
	text-decoration: underline;
}

#navbar {
	list-style-type: none;
	margin: 0.75em 0;
	padding: 0;
	float: right;
}

#navbar li {
	display: inline;
	padding: 10px;
}

#navbar li:hover {
	background-color: 111;
}

#navbar li a {
	padding: 10px;
	color: #777 !important;
}

/* Content */

div.highlight {
	padding: 10px;
	overflow-x: auto;
	font-size: 0.8em;
}

.post {
	background-color: #242626;
	border-radius: 10px;
	border: 2px #2e2f2f solid;
	padding: 30px;
	line-height: 1.6;
	margin: 20px 0;
}

.post .title { margin: 0; color: #8598a4; letter-spacing: 0.05em; }
.post h1.title { line-height: 1.3; font-size: 1.5em; }
.post hr { border: 2px #2e2f2f solid }
.post .title a { color: #85a0b0 !important; text-decoration: none; }
.post .title a:hover { text-decoration: underline; }

.post .description {
	margin: 0.2em 0;
	color: #9b9b9b;
}

.post .metadata {
	margin: 0;
	line-height: 1.3;
	font-size: 0.8em;
	color: #64686c;
	letter-spacing: 0.2em;
}

h2, h3, h4, h5, h6 {
	color: #808488;
	margin: 0.5em 0;
}

h2::before { color: #64686c; font-family: monospace; font-size: 0.8em; content: "## "; }
h3:not(.title):before { color: #64686c; font-family: monospace; font-size: 0.8em; content: "### "; }
h4::before { color: #64686c; font-family: monospace; font-size: 0.8em; content: "#### "; }
h5::before { color: #64686c; font-family: monospace; font-size: 0.8em; content: "##### "; }
h6::before { color: #64686c; font-family: monospace; font-size: 0.8em; content: "###### "; }

.post .content img, .post .content figure {
	text-align: center; max-width: 75%; display: block; margin: 0 auto;
}

.post .content figcaption {
	color: #9b9b9b;
	margin-top: 0.25em;
}

.post .content blockquote {
	border-left: 4px solid #455564;
	background-color: rgba(32, 34, 34, 0.5);
	padding: 1px 1em;
	margin-left: 1em;
	margin-right: 0;
}

.post .content code {
	background-color: #202222;
	border-radius: 4px;
	padding: 3px;
}

.highlight code {
	background: transparent;
	border-radius: 0 !important;
	padding: 0 !important;
}

/* Comments */
.comments { width: 100%; }

/* Footer */
#footer { text-align: right; border-top: 2px #2e2f2f solid; padding: 20px 0; color: #9b9b9b; }
