---
layout: default
---
<div class="post page">
	{%- if page.image -%}
		<img src="{{- page.image | relative_url -}}" alt="{{ page.title }}" aria-hidden="true" class="featured-image">
	{%- endif %}
	<h1 class="title">{{ page.title }}</h1>
	{% if page.description %}
		<p class="description">{{ page.description }}</p>
	{% endif %}
	<p class="metadata">{{ page.date | date_to_string }} // {{ page.author }}</p>
	<div class="content">{{ content }}</div>
</div>
<hr>
<div class="comments">
	<h2>Comments</h2>
	<script src="https://utteranc.es/client.js"
        repo="knuxify/blog"
        issue-term="og:title"
        label="blogpost"
        theme="photon-dark"
        crossorigin="anonymous"
        async>
	</script>
</div>
