---
layout: default
---
<div class="post page">
	{%- if page.image -%}
		<img src="{{- page.image | relative_url -}}" alt="{{ page.title }}" aria-hidden="true" class="featured-image">
	{%- endif %}
	<h1 class="title">{{ page.title }}</h1>
	{% if page.description %}
		<p class="description">{{ page.description }}</p>
	{% endif %}
	<p class="metadata">{{ page.date | date_to_string }} {% if page.last_modified_at %}<i>(updated {{page.last_modified_at | date_to_string}})</i> {% endif %} | {{ page.author }}</p>
	<div class="content">{{ content }}</div>
	{%- if page.categories -%}
		<hr><b>Categories:</b>
		<div class="categories">
	{% for category in page.categories %}
		<a class="pill-button" href="{{site.url}}{{site.baseurl}}/category/{{category|downcase|slugize}}">{{category|downcase}}</a>
	{% endfor %}
		</div>
	{%- endif %}
</div>
<hr>
<div class="comments">
	<h2>Comments</h2>
	<script src="https://utteranc.es/client.js"
        repo="knuxify/blog"
        issue-term="og:title"
        label="blogpost"
        theme="photon-dark"
        crossorigin="anonymous"
        async>
	</script>
</div>
